/* MyFooter */

#footer {
  width: 100vw;
}

#root .formPrivacy {
  background-color: transparent;
  border: none;
  font-weight: bold;
  font-size: 0.7em;
  margin-left: -12px;
  color: rgb(88, 88, 88);

}

#root a {
  text-decoration: none;
  color: rgb(88, 88, 88);
  font-weight: bold;
  font-size: 0.7em;
}

#root .formLanguage {
  background-color: white;
  color: rgb(88, 88, 88);
  font-size: 0.7em;
  font-weight: bolder;
  border: 1px solid black;
}

#root .helpList li {
  font-weight: bold;
  color: rgb(88, 88, 88);

}

#root span {
  color: gray;
  font-size: 0.8em;
}


#root .copyright {
  margin-left: 75px;
}

/******************************************Componente - Analisi***********************************/
/* .para__divs {
  line-height: 80%;
} */

.to__align {
  margin-inline: 10px !important;
}

.under__title {
  margin-top: -10px !important;
}