.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.PersoneButton{
width: 100px;
color: grey!important;
background-color: white !important;
border: 2px double rgb(122, 120, 120) !important;
padding: 2px;
text-decoration: none;
text-align: center;

}

hr{
  color: rgba(128, 128, 128, 0.726) !important;
}

.v-altro{
  width: 100% !important;
  outline: none !important;
  margin: 0px 0px 0px 0px !important;
  font-weight: 900;
  color: grey !important;
}
.v-altro:hover{
  background-color: rgba(148, 144, 144, 0.356)!important;
  outline: none !important;
}

.PersoneButton:hover{
background-color: rgba(172, 166, 166, 0.479)!important;
border: 2px solid grey !important;
outline: none !important;
}

.Linkedin{
  fill: rgba(0, 68, 255, 0.849) !important;;
}