@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

#root {
  background-color: #f3f2ee;
  font-family: "Roboto", sans-serif;
}

/* MyFooter */

#footer {
  width: 100vw;
}

#root .formPrivacy {
  background-color: transparent;
  border: none;
  font-weight: bold;
  font-size: 0.7em;
  margin-left: -12px;
  color: rgb(88, 88, 88);
}

#root a {
  text-decoration: none;
  color: rgb(88, 88, 88);
  font-weight: bold;
  font-size: 0.7em;
}

#root .formLanguage {
  background-color: white;
  color: rgb(88, 88, 88);
  font-size: 0.7em;
  font-weight: bolder;
  border: 1px solid black;
}

#root .helpList li {
  font-weight: bold;
  color: rgb(88, 88, 88);
}

#footer span {
  color: gray;
  font-size: 0.8em;
}

/******************************************Componente - Navbar***********************************/



#icon{

  font-size: 1.2em;
  margin-right: 1em;
}

#search{
  background-color: #EEF3F8;
  border: none;
  
}


/******************************************Componente - Analisi***********************************/
/* .para__divs {
  line-height: 80%;
} */

.to__align {
  margin-inline: 10px !important;
}

.under__title {
  margin-top: -10px !important;
}

/*********************************** Jumbotron ************************************************/
#profilePicImg {
  margin-top: -80%;
  border: 5px solid white;
}
#profileCoverImg {
  height: 200px;
}

.card .cardBtns span {
  font-weight: 600;
}

.profileBanner {
  background-color: #dce6f1;
}

.iconWithHoverEffect :hover {
  background-color: lightgrey;
}
#logoLastExp {
  width: 80px;
}

.PersoneButton {
  width: 100px;
  color: grey !important;
  background-color: white !important;
  border: 2px double rgb(122, 120, 120) !important;
  padding: 2px;
  text-decoration: none;
  text-align: center;
}

hr {
  color: rgba(128, 128, 128, 0.726) !important;
}

.v-altro {
  width: 100% !important;
  outline: none !important;
  margin: 0px 0px 0px 0px !important;
  font-weight: 900;
  color: grey !important;
}

.v-altro:hover {
  background-color: rgba(148, 144, 144, 0.356) !important;
  outline: none !important;
}

.PersoneButton:hover {
  background-color: rgba(172, 166, 166, 0.479) !important;
  border: 2px solid grey !important;
  outline: none !important;
}

.Linkedin {
  fill: rgba(0, 68, 255, 0.849) !important;
}

.ColorTextGrey {
  color: grey !important;
}
.m-w {
  max-width: 80% !important;
}

/* nuovo CSS profilo*/

.navbar{
height: 55px;
}

.premium {
  color: rgb(165, 83, 42);
  font-size: 0.8em;
  width: 210px;
  text-align: center;
}

.profileName {
  font-weight: bolder;
  font-size: 1.5em;
}
.profileTitle {
  font-weight: 900;
  font-size: 0.9em;
}

.Profile {
  font-weight: bold !important;
  font-size: 1em !important;
}

.footerSpan {
  color: rgb(196, 133, 207);
}

#jumbotron, #lateral {
  margin-top: 75px;
}



.ColorbackGrey {
  background-color: rgb(238, 243, 248)
  !important;
  border: none !important;
}

#firstName:focus{
  border: 1px solid black !important;
}
.premium{
  font-size: 14px !important;
}

.Iconsmall{
  font-size: 10px !important;
}
